.wrapper {
  position: relative;

  padding: 10px 20px 20px;
  margin-bottom: 8px;

  white-space: pre-wrap;
  text-overflow: ellipsis;
  overflow: hidden;

  background: #ff7518;
  border-radius: 14px;

  box-shadow: 0px 4px 10px rgb(255 117 24 / 50%);
}

.wrapper p {
  margin: 10px 0;
}

.id {
  position: absolute;
  right: 15px;
  top: 4px;

  font-size: 0.8em;
}

.button {
  position: absolute;

  background: none;
  border: none;
}

.button img {
  margin-left: 2px;
  width: 14px;
  height: 14px;

  cursor: pointer;
}

.reply {
  left: 10px;
  bottom: 2px;

  cursor: pointer;
}

.like {
  right: 40px;
  bottom: 2px;
}

.dislike {
  right: 10px;
  bottom: 2px;
}

.replyBlock {
  display: flex;
  margin-left: 30px;
}

.replyBlock textarea {
  flex-grow: 1;
  margin-bottom: 6px;

  color: black;

  background: #ffb684;
  border: 1px solid orange;
  border-radius: 6px;

  outline: none;
  resize: none;
}

.replyBlock textarea::-webkit-scrollbar {
  width: 6px;
}

.replyBlock textarea::-webkit-scrollbar-thumb {
  background-color: #ff7518;

  border-radius: 6px;
}

.checkMark {
  right: 35px;
  bottom: 2px;
}

.close {
  right: 15px;
  bottom: 2px;
}
