.wrapper {
  margin: 0;
  padding: 20px;
  width: 400px;
  height: 600px;

  list-style: none;

  background-color: #3d3d3d;
  border-radius: 6px;

  overflow: auto;
}

.wrapper::-webkit-scrollbar {
  width: 6px;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: #ff7518;

  border-radius: 6px;
}