.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
  padding: 10px;
  width: 420px;

  background-color: #3d3d3d;
  border-radius: 6px;
}

.textArea {
  margin-right: 10px;
  flex-grow: 1;
  height: 40px;

  color: white;

  background-color: #5e5e5e;
  border: 1px solid #ff7518;;
  border-radius: 6px;

  outline: none;
  resize: none;
}

.textArea::-webkit-scrollbar {
  width: 6px;
}

.textArea::-webkit-scrollbar-thumb {
  background-color: #ff7518;

  border-radius: 6px;
}

.button {
  padding: 10px 20px;

  color: white;

  background: #ff7518;
  border: none;
  border-radius: 6px;

  cursor: pointer;
}